extends layout

block content
    
    .row.py-3
        h1.pl-3.ca-header-font= pageHeader.title
        p.lead.pl-4.pt-2.ca-header-font= pageHeader.tagline
        
        
    p= choice
    
    
    p= choice2
    
    
    p= choice3
    
    img(src="/images/map_superior.gif")
    body
    
     .row
        .col-12.col-md-8
            .card
                .card-body
            
                h3.card-title.pb-3 Portage Reservation Form
                
                form(name='contact', action='/thanks', method='post')
                
                    .form-group.row
                
                    label.col-form-label.col-sm-2(for='email') Email:
                
                    .col-sm-6
                
                    input#email.form-control(type='email', name='email', required, placeholder='Enter a valid email address')
                
                    .form-group.row
                
                    label.col-form-label.col-sm-2(for='name') Name:
                
                    .col-sm-6
                
                    input#name.form-control(type='text', name='name', required, placeholder='Enter your name')
                
                    .form-group.row
                
                    label.col-form-label.col-sm-2(for='msg') Your Message:
                
                    .col-sm-10
                
                    textarea#msg.form-control(rows='5', name='msg', required, placeholder='Please Choose Your Option')
                
                    .form-group.row
                
                    label.col-form-lable.col-sm-2
                
                    .col-sm-6
                        button.btn.btn-primary(type='submit') Reserve Now