extends layout

block content

    .row.py-3
        h1.pl-3.ca-header-font= pageHeader.title
        p.lead.pl-4.pt-2.ca-header-font= pageHeader.tagline
    .row
        .col-12.col-md-8
                p= tourDetails1
                p= tourDetails2
                p= tourDetails3
        
        .col-12.col-md-4
            p.lead.pl-4.pt-5.ca-header-font-sb-color= sidebar

    each tour in tours
        .card.mt-2
        
        .card-body
        
        
          h4.card-title #{tour.origin} to #{tour.destination}
                    
          a.card-link.btn.btn-primary.float-right(href='/details/reserve-tours/') Reserve
      
            
          

            
            
            
            
            
            
            
            
             
            
            
            
            